.container{
  width: 50%;
  margin: auto;
  text-align: center;
}
.dice {
  text-align: center;
  display: inline-block;
}
body{
  background-color:lightsalmon;
}
h1 {
  margin:30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 grey;
  font-size: 5rem;
  color:darkslategray;
}

p {
  font-size: 3rem;
  color:black;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 10%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
